<DOCTYPE! html>
<html>
  <head>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="Vue">
      <h1>Current Duel</h1>
      <div>
        <h2>Round 1</h2>
        <p>Status: Ready</p>
        <p>Time Remaining: 30</p>
        <input id="start-round" onclick="submitEvent(event)" type="button" value="Start Next Round"/>
        <input id="pause-round" onclick="submitEvent(event)" type="button" value="Pause"/>
        <input id="continue-round" onclick="submitEvent(event)" type="button" value="Continue"/>
        <input id="finish-round" onclick="submitEvent(event)" type="button" value="Finish"/>
      </div>
      <div>
        <h2>Opponent 1</h2>
        <p>Name: {% verbatim %}{{ duel.opponent1 }}{% endverbatim %}</p>
        <p>Score: </p>
        <input id="opponent-1-head" onclick="submitEvent(event)" type="button" value="Head">
        <input id="opponent-1-head" onclick="submitEvent(event)" type="button" value="Hand">
        <input id="opponent-1-head" onclick="submitEvent(event)" type="button" value="Body">
      </div>
      <div>
        <h2>Opponent 2</h2>
        <p>Name: {% verbatim %}{{ duel.opponent2 }}{% endverbatim %}</p>
        <p>Score: </p>
        <input id="opponent-2-head" onclick="submitEvent(event)" type="button" value="Head">
        <input id="opponent-2-head" onclick="submitEvent(event)" type="button" value="Hand">
        <input id="opponent-2-head" onclick="submitEvent(event)" type="button" value="Body">
      </div>
    </div>
  </body>
  <script type="text/javascript">
    var vueApplication = new Vue({
      el: '#vue',
      data: {
        "duel": {
          "duel_id": 0,
          "opponent1": "",
          "opponent2": ""
        },
        "rounds": {}
      }
    })
  </script>
  <script type="text/javascript">
    // Web socket opener
    var ws = new WebSocket("ws://127.0.0.1:8001/");
    ws.onmessage = function (event) {
      console.log(event.data);
      jsonData = JSON.parse(event.data);
      vueApplication.duel = jsonData["duel"];
      vueApplication.rounds = jsonData["rounds"];
    };
  </script>
  <script type="text/javascript">
    function submitEvent(event) {
      let eventType = event.target.id;
      const POST_URL = "/run_duel/api/v1/event"
      let data = {
        "type": eventType
      }
      fetch(
        POST_URL,
        {
          method: "POST",
          body: JSON.stringify(data)
        }
      ).then((response) => {
          if (!response.ok) {
            // Handle error
          }
      })
    }
  </script>
</html>
