<DOCTYPE! html>
<html>
  <head>
      <style type="text/css">
        body, h1, h2, p, input, div {
          background-color: black;
          color: white;
          margin: 5px;
          text-align: center;
        }
        input {
          min-width: 30%;
          min-height: 50px;
        }
        .grid-container{
          display: grid;
          justify-content: center;
          width: 90vw;
        }
        .two-columns{
          grid-template-columns: 1fr 1fr;
        }
        .three-columns{
          grid-template-columns: 1fr 1fr 1fr;
        }
      </style>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="vue" class="grid-container">
      <h1>Current Duel</h1>
      <p>Overall Score: {% verbatim %}{{ totalOpponent1Score }} : {{ totalOpponent2Score }}{% endverbatim %}</p>
      <div class="grid-container">
        <h2>Round {% verbatim %}{{ roundNumberDisplay }}{% endverbatim %}</h2>
        <p>Status: {% verbatim %}{{ roundStatusDisplay }}{% endverbatim %}</p>
        <p>Score: {% verbatim %}{{ currentRoundOpponent1Score }} : {{ currentRoundOpponent2Score }}{% endverbatim %}
        <p>Time Remaining: {% verbatim %}{{ currentRoundTimeRemaining }}{% endverbatim %}</p>
        <div class="grid-container two-columns">
          <input id="start-round" onclick="submitEvent(event)" type="button" value="Start Next Round"/>
          <input id="pause-round" onclick="submitEvent(event)" type="button" value="Pause"/>
          <input id="finish-round" onclick="submitEvent(event)" type="button" value="Finish"/>
          <input id="continue-round" onclick="submitEvent(event)" type="button" value="Continue"/>
        </div>
      </div>
      <div class="grid-container">
        <h2>Opponent 1</h2>
        <p>Name: {% verbatim %}{{ duel.opponent1 }}{% endverbatim %}</p>
        <p>Score: {% verbatim %}{{ currentRoundOpponent1Score }}{% endverbatim %}</p>
        <div class="grid-container three-columns">
          <input id="opponent-1-head" onclick="submitEvent(event)" type="button" value="Head">
          <input id="opponent-1-hand" onclick="submitEvent(event)" type="button" value="Hand">
          <input id="opponent-1-body" onclick="submitEvent(event)" type="button" value="Body">
        </div>
      </div>
      <div class="grid-container">
        <h2>Opponent 2</h2>
        <p>Name: {% verbatim %}{{ duel.opponent2 }}{% endverbatim %}</p>
        <p>Score: {% verbatim %}{{ currentRoundOpponent2Score }}{% endverbatim %}</p>
        <div class="grid-container three-columns">
          <input id="opponent-2-head" onclick="submitEvent(event)" type="button" value="Head">
          <input id="opponent-2-hand" onclick="submitEvent(event)" type="button" value="Hand">
          <input id="opponent-2-body" onclick="submitEvent(event)" type="button" value="Body">
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    var vueApplication = new Vue({
      el: '#vue',
      data: {
        "duel": {
          "duel_id": 0,
          "opponent1": "",
          "opponent2": ""
        },
        "rounds": {}
      },
      computed: {
        currentRoundTimeRemaining: function() {
          let duel_time = 30000; //ms
          for (let i = 0; i < this.rounds.length; i++) {
            let round = this.rounds[i];
            if (
                (round["status"] === "RUNNING")
                || (round["status"] === "PAUSED")
            ) {
              let remaining = duel_time - round["time"];
              if (remaining < 0) {
                remaining = 0;
              }
              return (remaining / 1000.0).toFixed(0);
            }
          }
          // Default
          return "---";
        },
        currentRound: function() {
          for (let i = 0; i < this.rounds.length; i++) {
            let round = this.rounds[i];
            if (
                (round["status"] === "RUNNING")
                || (round["status"] === "PAUSED")
            ) {
              return round;
            }
          }
          return null;
        },
        nextRound: function() {
          for (let i = 0; i < this.rounds.length; i++) {
            let round = this.rounds[i];
            if (round["status"] == "READY") {
              return round;
            }
          }
          return null;
        },
        currentRoundOpponent1Score: function() {
          let round = this.currentRound;
          if (round) {
            return round["score"]["opponent1"];
          }
          return "---";
        },
        currentRoundOpponent2Score: function() {
          let round = this.currentRound;
          if (round) {
            return round["score"]["opponent2"];
          }
          return "---";
        },
        totalOpponent1Score: function() {
          let running_total = 0;
          for (let i = 0; i < this.rounds.length; i++) {
            let round = this.rounds[i];
            running_total += round["score"]["opponent1"];
          }
          return running_total;
        },
        totalOpponent2Score: function() {
          let running_total = 0;
          for (let i = 0; i < this.rounds.length; i++) {
            let round = this.rounds[i];
            running_total += round["score"]["opponent2"];
          }
          return running_total;
        },
        roundNumberDisplay: function() {
          let displayRound = this.currentOrNextRound;
          if (displayRound) {
            return displayRound["round_number"];
          }
          return "---";
        },
        roundStatusDisplay: function() {
          let displayRound = this.currentOrNextRound;
          if (displayRound) {
            return displayRound["status"];
          }
          return "ALL FINISHED";
        },
        currentOrNextRound: function() {
          let currentRound = this.currentRound;
          let nextRound = this.nextRound;
          if (currentRound) {
            return currentRound;
          }
          if (nextRound) {
            return nextRound;
          }
        }
      }
    })
  </script>
  <script type="text/javascript">
    // Web socket opener
    var ws = new WebSocket("ws://127.0.0.1:8001/");
    ws.onmessage = function (event) {
      console.log(event.data);
      jsonData = JSON.parse(event.data);
      if (jsonData["success"]) {
        vueApplication.duel = jsonData["duel"];
        vueApplication.rounds = jsonData["rounds"];
      }
    };
  </script>
  <script type="text/javascript">
    function submitEvent(event) {
      let eventType = event.target.id;
      const POST_URL = "/run_duel/api/v1/event"
      let data = {
        "type": eventType
      }
      fetch(
        POST_URL,
        {
          method: "POST",
          body: JSON.stringify(data)
        }
      ).then((response) => {
          if (!response.ok) {
            // Handle error
          }
      })
    }
  </script>
</html>
