<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body, h1, h2, p, input, div, select {
      background-color: black;
      color: white;
      margin: 5px;
      text-align: center;
      font-family: sans-serif;
    }
    input, select {
      min-width: 70%;
      min-height: 50px;
      font-family: sans-serif;
      text-align: center;
    }
    option {
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="vue">
    <h1>Next Duel</h1>
    <div>
      <p>Stage</p>
      <select v-model="selectedstage">
        <option v-for="stage in allStages" :stageid="stage.id">{% verbatim %}{{ stage.number }}{% endverbatim %}</option>
      </select>
      <p>Group</p>
      <select v-model="selectedgroup">
        <option v-for="group in stageGroups" :groupid="group.id">{% verbatim %}{{ group.number }}{% endverbatim %}</option>
      </select>
      <p>Duel</p>
      <select v-model="selectedduel">
        <option v-for="duel in groupDuels" :duelid="duel.id">{% verbatim %}{{ duel.opponent1 }} vs {{ duel.opponent2 }}{% endverbatim %}</option>
      </select>
    </div>
    <input type="button" id="fight" onclick="startNewDuel()" value="READY!"/>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Set up Vue -->
  <script type="text/javascript">
    let vueApplication = new Vue({
      el: "#vue",
      data: {
        selectedstage: "",
        selectedgroup: "",
        selectedduel: "",
        pendingduels: []
      },
      computed: {
        allStages: function() {
          let stages = [];
          for (let i = 0; i < this.pendingduels.length; i++) {
            let duel = this.pendingduels[i];
            let inArray = false;
            for (let j = 0; j < stages.length; j++) {
              if (stages[j]["id"] == duel["stageid"]) {
                inArray = true;
                break;
              }
            }
            if (!inArray) {
              stages.push(
                {
                  "id": duel["stageid"],
                  "number": duel["stagenumber"]
                }
              )
            }
          }
          return stages;
        },
        stageGroups: function() {
          // Get all groups for the selected stage
          let groups = [];
          let stagenumber = this.selectedstage;
          for (let i = 0; i < this.pendingduels.length; i++) {
            let duel = this.pendingduels[i];
            // Immediately stop if this duel is not even in the right stage
            if (duel["stagenumber"] != stagenumber) {
              continue;
            }
            let inArray = false;
            for (let j = 0; j < groups.length; j++) {
              if (groups[j]["id"] == duel["groupid"]) {
                inArray = true;
                break;
              }
            }
            if (!inArray) {
              groups.push(
                {
                  "id": duel["groupid"],
                  "number": duel["groupnumber"]
                }
              )
            }
          }
          return groups;
        },
        groupDuels: function() {
          let duels = [];
          let stagenumber = this.selectedstage;
          let groupnumber = this.selectedgroup;
          for (let i = 0; i < this.pendingduels.length; i++) {
            let duel = this.pendingduels[i];
            // Immediately stop if this duel is not even in the right stage
            if (duel["stagenumber"] != stagenumber) {
              continue;
            }
            // Stop this iteration if this duel is not in the right group
            if (duel["groupnumber"] != groupnumber) {
              continue;
            }
            // If we made it here, this duel is in the stage & group
            duels.push(duel);
          }
          return duels;
        }
      }
    });
  </script>
  <script type="text/javascript">
    /*
     * When fetching a list of pending
     * duels, suggest which should be next
     */
    function setSuggestedNextDuel() {
      let stageNumber = vueApplication.pendingduels[0]["stagenumber"];
      let groupNumber = vueApplication.pendingduels[0]["groupnumber"];
      let opponent1 = vueApplication.pendingduels[0]["opponent1"];
      let opponent2 = vueApplication.pendingduels[0]["opponent2"];
      vueApplication.selectedstage = stageNumber;
      vueApplication.selectedgroup = groupNumber;
      vueApplication.selectedduel = opponent1 + " vs " + opponent2;
    }
    // Fetch all pending duel details from api
    function fetchPendingDuels() {
      const GET_URL = "/run_duel/api/v1/pending_duels";
      fetch(
        GET_URL,
        {
          method: "GET"
        }
      ).then((response) => {
        if(response.ok) {
          return response.json();
        } else {
          // Handle error
        }
      }).then((json) => {
        if (json["success"]) {
          vueApplication.pendingduels = json["pending"];
          if (json["pending"].length > 0) {
            setTimeout(setSuggestedNextDuel, 100);
          }
        }
      });
    }
    fetchPendingDuels();
  </script>
  <!-- JS to submit form -->
  <script type="text/javascript">
    function startNewDuel() {
      const POST_URL = "/run_duel/api/v1/new_duel";
      // Need to find id of selected duel
      // Get all elements with duelid attribute
      let duels = document.querySelectorAll("option[duelid]");
      // Find inner html that matches selection
      let duelid;
      for (let i = 0; i < duels.length; i++) {
        let duel = duels[i];
        if (duel.innerText == vueApplication.selectedduel) {
          duelid = duel.getAttribute("duelid");
          break;
        }
      }
      let data = {
        "id": duelid
      };
      fetch(
        POST_URL,
        {
          method: "POST",
          body: JSON.stringify(data)
        }
      ).then((response) => {
          if(response.ok) {
            window.location.href = "/run_duel/current"
          } else {
            // Handle error
          }
      })
    }
  </script>
</body>
</html>
