<!DOCTYPE html>
<html lang="en">
<head>
  <title>Next Duel</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/run_duel/new/styles.css">
</head>
<body>
  <div id="vue">
    <h1>Next Duel</h1>
    <div>
      <p>Stage</p>
      <select v-model="selectedstage">
        <option v-for="stage in allStages" :stageid="stage.stage.id">{% verbatim %}{{ stage.stage.number }}{% endverbatim %}</option>
      </select>
      <p>Group</p>
      <select v-model="selectedgroup">
        <option v-for="group in stageGroups" :groupid="group.group.id">{% verbatim %}{{ group.group.number }}{% endverbatim %}</option>
      </select>
      <p>Duel</p>
      <select v-model="selectedduel">
        <option v-for="duel in groupDuels" :duelid="duel.id">{% verbatim %}{{ duel.opponent1 }} vs {{ duel.opponent2 }}{% endverbatim %}</option>
      </select>
    </div>
    <input type="button" id="fight" onclick="startNewDuel()" value="READY!"/>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Set up Vue -->
  <script src="/run_duel/new/application.js" type="text/javascript"></script>
</body>
</html>
