<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tournament Overview</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/tournament/overview/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="vue">
    <div class="grid-container four-columns">
      <p>Stage</p>
      <select v-model="selectedstage" onchange="getDuelsForGroup()">
        <option value="" disabled selected style="display:none;">Default</option>
        <option v-for="stage in stages" :stageid="stage.id">{% verbatim %}{{ stage.number }}{% endverbatim %}</option>
      </select>
      <p>Group</p>
      <select v-model="selectedgroup" onchange="setTimeout(getDuelsForGroup, 100);">
        <option value="" disabled selected style="display:none;">Default</option>
        <option v-for="group in groups" :groupid="group.id">{% verbatim %}{{ group.number }}{% endverbatim %}</option>
      </select>
    </div>
    <h1>Duels</h1>
    <div class="grid-container five-columns">
      <p>Opponent 1</p>
      <p>HP</p>
      <p>HP</p>
      <p>Opponent 2</p>
      <p>Status</p>
      <template v-for="duel in duels">
        <p>{% verbatim %}{{ duel.opponent1 }}{% endverbatim %}</p>
        <p>{% verbatim %}{{ duel.score1 }}{% endverbatim %}</p>
        <p>{% verbatim %}{{ duel.score2 }}{% endverbatim %}</p>
        <p>{% verbatim %}{{ duel.opponent2 }}{% endverbatim %}</p>
        <p>{% verbatim %}{{ duel.finished ? "FINISHED" : "PENDING" }}{% endverbatim %}</p>
      </template>
    </div>
    <h1>Table</h1>
    <div class="grid-container three-columns">
      <p>Participant</p>
      <p>Duels Completed</p>
      <p>HP Remaining</p>
      <template v-for="participant in sortedParticipants">
        <p>{% verbatim %}{{ participant.name }}{% endverbatim %}</p>
        <p>{% verbatim %}{{ participant.completed }}{% endverbatim %}</p>
        <p>{% verbatim %}{{ participant.remaining }}{% endverbatim %}</p>
      </template>
    </div>
  </div>
  <script src="static/tournament/overview/application.js" type="text/javascript"></script>
</body>
</html>
