<!DOCTYPE html>
<html lang="en">
<head>
  <title>Set Up Duels</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/tournament/setup_duels/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    {% verbatim %}
    <div id="vue" class="grid-container">
        <h1>Stage {{ stage.number }} Setup</h1>
        <div class="grid-container two-columns">
            <input v-for="group in groups"
                :id="'group-' + group.number" :groupid="group.id"
                type="button" :value="'GROUP ' + group.number"
                onclick="toggleGroupSelect(event)"/>
        </div>
        <div id="all-participants" class="grid-container two-columns">
            <input v-for="participant in participants"
                :id="participant.battle_name" :participantid="participant.id"
                type="button" :value="participant.battle_name"
                onclick="assignParticipant(event)"/>
        </div>
        <div class="grid-container">
            <div v-for="group in groups" class="grid-container">
                <h2>Group {{ group.number }}</h2>
                <div class="grid-container two-columns-thirds">
                  <template v-for="member in group.members">
                    <p>{{ member.battle_name }}</p>
                    <input :participantid="member.id" type="button"
                      onclick="unassignParticipant(event)" value="REMOVE"/>
                  </template>
                </div>
            </div>
        </div>
        <input id="generate" type="button"
          onclick="generateDuels()" value="Generate Duels" disabled=true/>
        <h2>All Duels</h2>
        <div class="grid-container three-columns">
          <template v-for="duel in allduels">
            <p>{{ duel.opponent1.battle_name }}</p>
            <p>vs</p>
            <p>{{ duel.opponent2.battle_name }}</p>
          </template>
        </div>
        <input id="confirm" type="button" onclick="confirmDuels()"
          value="Confirm Duels" disabled=true/>
    </div>
    {% endverbatim %}
    <script type="text/javascript" src="/tournament/setup_duels/application.js"></script>
</body>
</html>
