<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Adjust Score</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/run_duel/administration/adjust_score/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="vue">
      <h1>Adjust Duel Score</h1>
      <div class="grid-container four-columns">
        <h2>Stage</h2>
        <select v-model="selectedstage">
          <option value="" disabled selected style="display:none;"></option>
          <option v-for="stage in allStages" :stageid="stage.stage.id">{% verbatim %}{{ stage.stage.number }}{% endverbatim %}</option>
        </select>
        <h2>Group</h2>
        <select v-model="selectedgroup">
          <option value="" disabled selected style="display:none;"></option>
          <option v-for="group in stageGroups" :groupid="group.group.id">{% verbatim %}{{ group.group.number }}{% endverbatim %}</option>
        </select>
        <h2>Duel</h2>
        <select v-model="selectedduel" id="round-select">
          <option value="" disabled selected style="display:none;"></option>
          <option v-for="duel in groupDuels" :duelid="duel.id">
            {% verbatim %}
            {{ duel.opponent1.battle_name }} vs {{ duel.opponent2.battle_name }}
            {% endverbatim %}
          </option>
        </select>
        <h2>Round</h2>
        <select v-model="selectedround">
          <option value="" disabled selected style="display:none;"></option>
          <option v-for="round in duelRounds" :roundid="round.id">{% verbatim %}{{ round.number }}{% endverbatim %}</option>
        </select>
      </div>
      <div type="grid-container">
        <h2>Score</h2>
        <p>{% verbatim %}{{ formattedRoundScore }}{% endverbatim %}</p>
        <h2>Adjust</h2>
        <h3>{% verbatim %}
          {{ selectedDuelData.opponent1 ? selectedDuelData.opponent1.battle_name : "---" }}
        {% endverbatim %}</h3>
        <input id="opponent-1-up" type="button"
          onclick="doScoreAdjustment(event)" value="HP ++"/>
        <input id="opponent-1-down" type="button"
          onclick="doScoreAdjustment(event)" value="HP --"/>
        <h3>{% verbatim %}
          {{ selectedDuelData.opponent2 ? selectedDuelData.opponent2.battle_name : "---" }}
        {% endverbatim %}</h3>
        <input id="opponent-2-up" type="button"
          onclick="doScoreAdjustment(event)" value="HP ++"/>
        <input id="opponent-2-down" type="button"
          onclick="doScoreAdjustment(event)" value="HP --"/>
      </div>
    </div>
    <script type="text/javascript" src="/run_duel/administration/adjust_score/application.js"></script>
  </body>
</html>
