<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Delete Duel</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/run_duel/administration/delete_duel/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h1>Delete Duel</h1>
    <div id="vue" class="grid-container two-columns">
      <template v-for="stage in stages">
        <template v-for="group in stage.groups">
          <template v-for="duel in group.duels">
            {% verbatim %}
            <p>{{ duel.opponent1.battle_name }} vs {{ duel.opponent2.battle_name }}</p>
            {% endverbatim %}
            <input type="button" :duelid="duel.id"
              onclick="deleteDuel(event)" value="Delete"/>
          </template>
        </template>
      </template>
    </div>
    <script type="text/javascript" src="/run_duel/administration/delete_duel/application.js"></script>
  </body>
</html>
