<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset Duel</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/run_duel/administration/reset_duel/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h1>Reset Duel</h1>
    <div id="vue" class="grid-container two-columns">
      <template v-for="duel in duels">
        {% verbatim %}
        <p>{{ duel.opponent1 }} vs {{ duel.opponent2 }}</p>
        {% endverbatim %}
        <input type="button" :duelid="duel.id"
          onclick="resetDuel(event)" value="Reset"/>
      </template>
    </div>
    <script type="text/javascript" src="static/run_duel/administration/reset_duel/application.js"></script>
  </body>
</html>
